<div class="container userInfo">
  <div class="row userRow">

    <div class="col-xs-12">

      <a href="/bright_ideas" class="logolink">
        <div class="logo2"> </div>
      </a>
    </div>
  </div>

  <div class="row userRow">

  <div class="col-xs-12">
    <h3>Alias: <%=@user.alias%><br>
    Email: <%=@user.email%></h3>
  </div>

</div>
  <div class="row userRow">

    <div class="col-xs-12">
      Total Number of Ideas: <%= Idea.where(user: @user.id).count %>
      <br>
      Total Number of Votes: <%= Like.where(user: @user.id).count %>
    </div>

    <button><a href="/bright_ideas"> Back </a></button>

  </div>

</div>
