.logo3{
  background: url('logoTag.png');
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: contain;
  width: 25vw;
  height: 15vh;
  min-width: 350px;
  min-height: 100px;
}
.highlightedIdea{
  font-family: $mainfont;
  font-size: 20px;
  font-weight: 600;
  padding: 30px;
  // background: $white;
  width: 90%;
  span{
    font-size: 60%;
  }
}

.IdeaHighlight{
  .logo3, .highlightedIdea{
    display: inline-block;
  }
  .shownLikes{
    padding-left: 10%;
    padding-top: 50px;
    margin: 0 auto;
  }

  button{
    border: none;
    color: $black;
    background: $bg;
    margin-top: 20px;
    margin-left: 10%;
  }

}
